.front-container {
    position: relative;
    margin: auto;
    text-align: center;
}

#front-page-p {
    font-size: larger;
    margin: auto;
    text-align: center;
    width: 30%;
}

app-slideshow {
    margin: 100px;
}

.specializeText {
    text-align: center;
    /* background-color: black; */
    width: 100%;
    margin-top: 50px;
    margin-bottom: 50px;
}

.portrait {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    height: 500px;
    text-align: center;
}

.portraitImage {
    border: 3px solid;
    border-radius: 3%;
    margin-top: 10px;
}

.divider {
    background-color: #292b2c;
    width: 100%;
    height: 100px;
}