<div class="front-container">
    <p class="front-page-p">
        At Baldassini Mechanical we strive for excellence for all of our customers to ensure high standards and high satisfaction. We excel at quick problem solving for any job in a timely fashion. Within our many techs that have various experience around the
        field we will ensure that any request you give to us will be completed with top priority.
    </p>
</div>
<app-slideshow></app-slideshow>

<div class="specializeText">
    <h3 class="front-page-p">
        Do you have a pluming emergency residential or commercial? Contact my team right away 24/7 for a free quote
    </h3>
    <a style="margin: 10px" routerLink="/contact" class="btn btn-dark">CONTACT</a>
</div>
<div class="divider"></div>

<img src="assets/images/logo.png" class="portrait portraitImage" />
<p class="portrait portraitText">
    Dedicated plumber for over 8 years, experience in wide range of handy work, renovations, plumbing, HVAC... and has lots of tools!!!! Insert self portrait above
</p>

<div class="divider"></div>