<div class="front-container">
    <p id="front-page-p">
        Do you have a pluming emergency residential or commercial? Contact my team right away 24/7 for a free quote
    </p>

    <a routerLink="/contact" class="btn btn-dark">CONTACT</a
  >
</div>
<app-slideshow></app-slideshow>


<div class="specializeText">
  <h6>Do you have a plumbing problem? And more filler text</h6>
</div>
<div class="divider"></div>

<img src="assets/images/selfportrait.jpeg" class="portrait portraitImage">
<p class="portrait portraitText">Dedicated plumber for over 8 years, 
  experience in wide range of handy work, renovations, plumbing, HVAC... and has lots of tools!!!! Insert self portrait above</p>

<div class="divider"></div>