<div class="contactInfo">
    <h4>Anthony Baldassini</h4>
    <h4>647-466-2879</h4>
    <h4>Anthonyplumber@outlook.com</h4>
</div>
<div class="divider">

</div>

<div id="backsplash">
    <h1 id="contactTitle">Get In Contact With My Team</h1>

    <div class="container-fluid">
        <form>
            <div class="form-group smallDiv">
                <label for="exampleInputEmail1">Email address</label>
                <input class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email" />
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone
                    else.</small>
            </div>
            <div class="form-group smallDiv">
                <label for="phonenumber">Phone number</label>
                <input class="form-control" id="phonenumber" placeholder="xxx-xxx-xxxx" />
            </div>
            <div class="form-group smallDiv">
                <label for="name">Name</label>
                <input class="form-control" id="name" placeholder="Enter name" />
            </div>
            <div class="form-group infoDiv">
                <label for="informationArea">Information</label>
                <textarea class="form-control" id="informationArea" rows="8"></textarea>
            </div>

            <div class="form-check">
                <input class="form-check-input" id="exampleCheck1" />
                <label class="form-check-label" for="exampleCheck1">All information is accurate?</label>
            </div>
            <button type="submit" class="btn btn-dark">Submit</button>
        </form>
    </div>
</div>
<div class="divider"></div>