<div class="row">
  <div class="column">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
    <img src="assets/galleryImgs/gallery5.jpeg">
    <img src="assets/galleryImgs/gallery2.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
  </div>
  <div class="column">
    <img src="assets/galleryImgs/gallery5.jpeg">
    <img src="assets/galleryImgs/gallery2.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery1.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery5.jpeg">
  </div>
  <div class="column">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
    <img src="assets/galleryImgs/gallery5.jpeg">
    <img src="assets/galleryImgs/gallery2.jpeg">
    <img src="assets/galleryImgs/gallery4.jpeg">
  </div>
  <div class="column">
    <img src="assets/galleryImgs/gallery5.jpeg">
    <img src="assets/galleryImgs/gallery2.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery1.jpeg">
    <img src="assets/galleryImgs/gallery3.jpeg">
    <img src="assets/galleryImgs/gallery1.jpeg">
  </div>
</div>