<div class="row">
    <div class="column">
        <img src="assets/galleryImgs/gallery1.jpg">
        <img src="assets/galleryImgs/gallery2.jpg">
        <img src="assets/galleryImgs/gallery3.jpg">
        <img src="assets/galleryImgs/gallery4.jpg">
        <img src="assets/galleryImgs/gallery5.jpg">
        <img src="assets/galleryImgs/gallery6.jpg">
        <img src="assets/galleryImgs/gallery7.jpg">
    </div>
    <div class="column">
        <img src="assets/galleryImgs/gallery8.jpg">
        <img src="assets/galleryImgs/gallery9.jpg">
        <img src="assets/galleryImgs/gallery10.jpg">
        <img src="assets/galleryImgs/gallery11.jpg">
        <img src="assets/galleryImgs/gallery12.jpg">
        <img src="assets/galleryImgs/gallery13.jpg">
        <img src="assets/galleryImgs/gallery27.jpg">
    </div>
    <div class="column">
        <img src="assets/galleryImgs/gallery14.jpg">
        <img src="assets/galleryImgs/gallery15.jpg">
        <img src="assets/galleryImgs/gallery16.jpg">
        <img src="assets/galleryImgs/gallery17.jpg">
        <img src="assets/galleryImgs/gallery18.jpg">
        <img src="assets/galleryImgs/gallery19.jpg">
        <img src="assets/galleryImgs/gallery20.jpg">
    </div>
    <div class="column">
        <img src="assets/galleryImgs/gallery21.jpg">
        <img src="assets/galleryImgs/gallery22.jpg">
        <img src="assets/galleryImgs/gallery23.jpg">
        <img src="assets/galleryImgs/gallery24.jpg">
        <img src="assets/galleryImgs/gallery25.jpg">
        <img src="assets/galleryImgs/gallery26.jpg">
        <img src="assets/galleryImgs/gallery28.jpg">
    </div>
</div>